input {
    background-color: #EEF3F8;
    margin-left: 10px;
    border-radius: 10px;
}

.menu-icon {
    color: grey;
    width: 50px;
    font-size: 22px;
}

li {
    border: none !important;
}

.active {
    color: black;
}

a {
    text-decoration: none !important;
    color: #717171 !important;
}

.share-post-icon {
    width: 30px;
    font-size: 22px;
}

.share-post-input {
    background-color: #EEF3F8;
    border-radius: 25px;
    height: 50px;
}

.list-group-item::before {
    content: "●";
    color: #666666;
    margin-right: 0.75rem;
}

.post-interaction-li {
    flex-grow: 1;
}